<div class="login-page">
  <div class="facebook-logo">
    <%= image_tag "facebook_logo.png" %>  
  </div>

  <div class="login-buttons">
    <a class="btn btn-block btn-social btn-facebook" href="auth/facebook">
      <span class="fa fa-facebook"></span> Sign in with Facebook
    </a>
  </div>
</div>
