<div class="login-page">
  <div class="login-content">
    <div class="facebook-logo">
      <p class="ionicons ion-social-facebook"></p>  
    </div>

    <div class="login-buttons">
      <a class="btn btn-block btn-social btn-facebook" href="auth/facebook">
        <span>
          <p class="ionicons ion-social-facebook"></p>
        </span> 페이스북으로 로그인하기
      </a>
    </div>
  </div>
</div>