<script type="text/javascript">
	$(document).ready(function() {
		$('#popup-photo').on("click", function(e) {
			var offset = $(this).offset();
			var x = e.pageX - offset.left;
			var y = e.pageY - offset.top;
			$('#face-grid')
				.css('left', x)
				.css('top', y);

			$.ajax('/courses/' + cid + '/posts/' + pid + '/photos/' + qid + '/tags?id=' + userid + '&x=' + x + '&y=' + y).success(function(json) {
				var src = html.photo.url;
				var date = html.date.slice(0, 10);

				document.getElementById("popup-photo").setAttribute("src", src);
				$('#modal-photo').modal('show');
			});
		});
	});
</script>

<!-- Modal -->
<div class="modal fade" id="modal-photo" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h4 class="modal-title" id="myModalLabel"><%= @course.name %></h4>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
			</div>
			
			<div class="modal-body">
				<img id="popup-photo" src="" />
				<div id="face-grid">
				</div>
			</div>	
		</div>
	</div>
</div>
