<div class = "listing-title">
  <h1 class="course-main">Listing Courses<br><small>Show Lising Courses</small></h1>
</div>
  
<div class="page-button">
  <center>
  <%= button_to 'Create new Course', new_course_path, :class => 'btn btn-default', :method => :get %>
  </center>
</div>

<% @courses.each_with_index do |course, index| %>
	<% if (index) % 3 == 0  %>   
		<div class="row course-row"></div>
	<% end %>

  <div class="col-md-4 course-div">
    <%= link_to course_path(course), {:style=>'color:#000000;'} do %>
    	<%= image_tag("circle.png", :width => "80", :align => "center") %>
    	<p class="course-name"><strong><%= course.name %></strong></p>
    <% end %>

    <% if (index) % 3 == 2  %>
	  <% end %>
  </div>
<% end %>

