<div class="navigation-header" align="center">
  <h3>나의 강의목록</h3>
  <div id="right-menu">
    <%= link_to '<i class = "glyphicon glyphicon-plus"></i>'.html_safe, new_course_path, :class => 'btn btn-link', :method => :get %>
  </div>
</div>

<% @courses.each_with_index do |course, index| %>
	<% if (index) % 3 == 0  %>   
		<div class="row course-row"></div>
	<% end %>

  <div class="col-md-4 course-div">
    <%= link_to course_path(course) do %>
      <%= image_tag("images.png", :class => "img-circle index-img") %>
      <p class="course-name link"><strong><%= course.name %></strong></p>
    <% end %>

    <% if (index) % 3 == 2  %>
    <% end %>
  </div>
<% end %>