<style type="text/css">
  #info {
    position: fixed;
    top: 50%;
    left: 50%;
  }
  #course {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: -100px;
    margin-left: -100px;
    float: none !important;
  }
  #course img {
    width: 180px;
  }
  #course p {
    font-size: 20px;
  }
  .course-name {
    text-align: center;
  }
</style>

<div id="info">
  <div id="course" class="course-div">
    <img class="img-circle index-img img-thumbnail" src="/assets/images-70e7b4b22a4d0f249afb82ce69f30bd3a38687a75f1fc472af91322db4107b01.png" alt="Images">
    <p class="course-name link"><strong><%= @course.name %></strong></p>
  </div>
</div>

<div>
  <%= link_to "조인하기", join_course_path(@course), :class => "btn btn-primary btn-block btn-lg", :id => "btn-new-post" %>
</div>
