<div class="navigation-header" align="center">
  <h3><%= @course.name %></h3>
</div>

<div class="summary">
  <p>
    <%= image_tag("image02.png", :class => "img-circle", :width => "200", :height => "200") %>
  </p>
</div>

<div>
    <p class="summary-text"> <strong>강사명</strong> : 김슬아 </p>
    <p class="summary-text"> <strong>강의실</strong> : 공학관 23401호 </p>
    <p class="summary-text"> <strong>강의내용</strong> : 놀자놀자 </p>
</div>

<div class="summary-button">
  <%= button_to '강의 목록 보기', courses_path, :class => 'btn btn-default', :method => :get %>
</div>
