<script language="javascript">
  function join() {
    var url = "deepcheck://join?course_id=<%= @course.id %>";
    window.location = url;
  }
  setTimeout(function() {
      join();
  }, 1000);
</script>

<style type="text/css">
  #info {
    position: fixed;
    top: 50%;
    left: 50%;
  }
  #course {
    width: 200px;
    display: block;
    margin: 0 auto;
    margin-top: -160px;
    margin-left: -90px;
    float: none !important;
    text-align: center;
  }
  #course img {
    width: 180px;
  }
  #course p {
    font-size: 20px;
  }
  .course-name {
    text-align: center;
  }
</style>

<div id="info">
  <div id="course" class="course-div">
    <%= image_tag("course_icons/#{@course.icon_id}.png", :class => "img-circle index-img img-thumbnail") %>
    <p class="course-name link"><strong><%= @course.name %></strong></p>
  </div>
</div>

<div>
  <a id="btn-new-post" class="btn btn-primary btn-block btn-lg" onclick="join()">조인하기</a>
</div>
