// Place all the styles related to the courses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#course-title {
  min-height: 50px;
  position: fixed;
	top: 0;
  background-color: #f8f8f8;
  border-color: #e7e7e7;
  border: 1px solid transparent;
  width: 100%;
  h3 {
  	margin: 10px auto;
  }
}
#course-info {
	margin-top: 50px;
}
#course-body {
	margin-bottom: 50px;
}
#myModalLabel {
	display: inline-block;
}

#thumbnail {
	max-width: 100%;
  height: auto;
}

#course-info {
	margin-left: 10px;
	margin-right: 10px;
}

.alert {
  margin-left: 10px;
  margin-right: 10px;
}

#course-body {

	.info {
    display: block;

		.date {
			float: left;
		}
	}

	.post {
		padding: 10px 0;
		border-bottom: 1px solid #efefef;

		display: block;
		margin: 10px auto;

		text-align: center;

		.photo {
			height: auto;
			width: 100%;
		}

		.published-at {
			text-align: right;
			margin-top: 10px;
			margin-right: 20px;
		}
	}
}

.modal-header {
	.close {
		margin-top: 5px !important;
	}
	.btn {
		float: right;
    margin-right: 10px;
	}
	#submit {
		display: none;
	}
}

#popup-photo {
	height: auto;
	max-width: 100%;	
}

a#btn-new-post {
	position: fixed;
	bottom: 0;
	border-radius: 0;
}