.course-list {
  padding-top: 50px;

  .course-div {
    width: 33%;
    height: 33%;
    float: left;
    text-align: center;
    padding-top: 0px;
    padding-right: 5px !important;
    padding-left: 5px !important;
    padding-bottom: -1px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-width: 1px;
  }

  .course-row {
    margin-right: 20px !important;
    margin-left: 20px !important;
  }

  .course-name {
    margin-bottom: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}

.course-new {
  padding-top: 50px;

  .ion-ios-close-empty {
    font-size: 32px;
  }
}

form#course-form {
  width: 90%;
  margin: 15px auto;

  a#btn-back {
    margin-top: 10px;
  }
}

.img-thumbnail {
  padding: 12px !important;
  width: 90px;
  height: 90px;
}

.btn-primary {
  background-color: #FF5E4F !important;
}
