.course-main {
	margin-bottom: 20px;
	text-align: center;
	    background-color: #eee;
}

.course-name {
	text-align: center;
	margin-bottom: 10px;
}

.course-div {
	width: 33%;
	float: left;
	padding-right: 5px !important;
	padding-left: 5px !important;
    text-align: center;
}

.course-row {
	margin-right: 20px !important;
	margin-left: 20px !important;
}

.name-summary {
	text-align: center;
	margin-bottom: 10px;
	font-size: 20px;
}

.create-margin {
	margin-top: 20px;
}

.page-button {
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.listing-title {
    padding-top: 1px;
    padding-bottom: 1px;
    margin-bottom: 10px;
   	background-color: #eee;

}

.page-title {
    margin-top: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
}

.image-header {
	padding-bottom: 9px;
	margin-top: 0px;
	margin-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.create-warning {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.create {
    padding: 15px;
    margin-bottom: 20px;
    margin: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
}

.summary-button {
	margin-bottom: 35px;
	margin-top: 25px;
}
