.details {
  .detail-information {
    dl.dl-horizontal {
      float: left;
    }

    img {
      float: right;
      margin: 40px 20px 0 0;
    }
  }

  margin: 0px 15px 0px 15px;
  padding-top: 47px;

  .participant-list {
    clear: both;
    margin: 15px auto;
    padding-top: 10px;
    border-top: 1px solid #eee;
    text-align: center;

    .participant {
      display: inline-block;
      margin: 10px 6px 10px 6px;
      width: 80px;
      height: 110px;

      .participant-link {
        text-decoration: none;
      }

      .img-circle {
        width: 80px;
        height: 80px;
        background-color: #eee;
      }

      .text-center {
        text-overflow: ellipsis;
        margin-top: 10px;
      }
    }
  }

  dl {
    font-size: 14px;

    dt {
      margin-top: 10px;
    }
  }
}