.clear {
  clear: both;
}

#flash-message  {
	position: fixed;
	top: 40px;
  width: 100%;
	z-index: 999;

  .alert {
    margin: 20px;
  }
}

.navigation-header {
  padding-bottom: 8px;
  padding-top: 10px;
  background-color: #337ab7;

  h3 {
    display: inline;
    font-size: 25px;
    color: #ffffff;
  }

  .menu {
    position: absolute;
    top: 7px;

    a {
      font-weight: bold;
      font-size: 18px;
      line-height: 0.5;
      color: #ffffff;
      border-color: #ffffff;
      border-radius: 4px;
      text-decoration: none;
    }

    .search {
      left: 8px;
      float: left;
      position: relative;

      .search-input {
        display: none;
        margin-left: 14px;
        top: -6px;

        #search-input {
          width: 225px;
        }
      }
    }

    .fa {
      margin-top: 9px;
      font-size: 32px;
      color: #fff;
    }

    .fa-info-circle {
    }

    .fa-search {
      margin-top: 0px;
    }

    .fa-plus {
      margin-top: 10px;
    }
  }

  .menu-right {
    right: 6px;

    a {
      float: right;
      padding-left: 5px;
      padding-right: 3px;
      margin-right: 5px;
    }
  }

  .menu-left {
    left: 6px;

    a {
      padding-left: 2px;
      padding-right: 5px;
      margin-left: 10px;
    }
  }
  

  .btn-left {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      padding-left: 7px !important;
      padding-right: 9px !important;
      margin-bottom: 0;
      white-space: nowrap;
      vertical-align: middle;
      background-image: none;
      border: 1px solid transparent;
  }
}

.btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 9px !important;
  padding-right: 7px !important;
}

.link {
  color: #000000;
  a {
    text-decoration: none !important;
  }
}