#flash-message  {
	position: fixed;
	top: 40px;
  width: 100%;
	z-index: 999;

  .alert {
    margin: 20px;
  }

  button {
    border: 0px solid transparent !important;
    background-color: transparent !important;
  }

  .ionicons {
    font-size: 24px;
    position: relative;
    top: 4px;
  }

  span {
    position: relative;
  }
}

.navigation-header {
  z-index: 1;
  position: fixed;
  width: 100%;
  padding-bottom: 8px;
  padding-top: 10px;
  height: 42px;
  border-bottom: 1px solid #FF4F40;
  background-color: #FF4F40;

  color: #fff;

  h1 {
    display: inline;
    font-size: 20px;
    font-weight: inherit;
  }

  a{
    color: #fff;
    text-decoration: none !important;
  }

  .background {
    display: block;
    width: 100%;
  }

  .menu {
    position: absolute;
    top: 7px;

    a {
      font-weight: bold;
      font-size: 18px;
      line-height: 0.5;
      color: #fff;
      border-color: #ffffff;
      border-radius: 4px;
      text-decoration: none;
    }

    .search {
      left: 8px;
      float: left;
      position: relative;

      .search-input {
        display: none;
        margin-left: 14px;
        top: -6px;

        #search-input {
          width: 225px;
        }
      }
    }

    .ionicons {
      margin-top: 0px;
      font-size: 28px;
      color: #fff;
      font-weight: 300;
    }

    .ion-ios-arrow-left {
      margin-top: 0px;
    }

    .ion-ios-compose-outline {
      margin-right: 5px;
    }

    .ion-information-circled {
      margin-top: 0px;
      margin-right: 1px;
      font-size: 26px
    }

    .fa-search {
      margin-top: 0px;
    }

    .fa-plus {
      margin-top: 10px;
    }
  }

  .menu-right {
    right: 6px;

    a {
      float: right;
      padding-left: 5px;
      padding-right: 3px;
      margin-right: 5px;
    }
  }

  .menu-left {
    left: 6px;

    a {
      padding-left: 2px;
      padding-right: 5px;
      margin-left: 7px;
    }
  }
  
  .btn-left {
      padding-top: 10px !important;
      padding-bottom: 10px !important;
      padding-left: 7px !important;
      padding-right: 9px !important;
      margin-bottom: 0;
      white-space: nowrap;
      vertical-align: middle;
      background-image: none;
      border: 1px solid transparent;
  }
}

.pop {
  position: relative;
  z-index: 1;

  .pop-right-bottom {
    position: fixed;
    bottom: 15px;
    right: 15px;
  }

  .pop-circle {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #f02a2a;
    text-align: center;
  }

  p {
    font-size: 26px;
    color: #eee;
    margin-top: 12px;
    text-decoration: none;
    text-decoration-color: #fff;
  }
}

.btn {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-left: 9px !important;
  padding-right: 7px !important;
}

input {
  border-radius: 0 !important;
  box-shadow: none !important;
  border: 0 !important;
  border-bottom: 1px solid #eee !important;
}

.btn-bottom {
  border-bottom: 0px solid transparent !important;
}

.link {
  color: #000000;
  a {
    text-decoration: none !important;
  }
}