// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.login-page {
  background-color: #2a4887;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;

  .login-content {
    z-index: 1;
    padding-top: 225px;
    text-align: center;

    .facebook-logo {
      p {
        font-size: 128px;
        color: #fff;
      }
    }

    .login-buttons {
      width: 100%;

      .btn {
        width: 70%;
        margin: 0 auto;

        span {
          margin-top: 5px;
          margin-bottom: 5px;
          border-right: 1px solid #fff;

          p {
            font-size: 24px;
            font-weight: 300;
          } 
        }
      }
    }
  }
}