// Place all the styles related to the photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#face-grid {
	position: absolute;
	border: 2px solid;
	border-color: #afafaf;
	width: 32px;
	height: 32px;
	top: 15px;
	left: 15px;
}