.profile {
  margin: 0px 15px 0px 15px;
  padding-top: 50px;

  .header {
    margin-top: 15px;
    text-align: center;

    .img-circle {
      display: inline-block;
      width: 128px;
      height: 128px;
      background-color: #eee;
    }
    
    .info {
      display: inline-block;
      font-size: 14px;
      top: -19px;
      margin: 10px 10px 10px 10px;
      position: relative;

      ul {
        list-style-type: none;
        margin-bottom: 25px;
        padding-left: 10px;

        li {
          margin-top: 10px;
          margin-bottom: 10px;

          .text-right {
            display: inline;
          }
        }
      }

      button {
        height: 30px;
        padding: 5px 10px 5px 10px !important;

        p {
          font-size: 17px;
        }
      }
    } 
  }

  .courses {
    margin-top: 25px;

    .text-left {
      border-bottom: 1px solid #eee;
    }

    .course {
      display: inline-block;
      margin: 10px 6px 10px 6px;
      width: 80px;
      height: 100px;

      .course-link {
        text-decoration: none;
      }

      .img-circle {
        width: 80px;
        height: 80px;
        background-color: #eee;
      }

      .text-center {    
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 80px;
      }
    }
  }
}